/* things which can be used all over the page */
.sevillana-regular {
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
}

*{
  font-family:sans-serif;
}
.display-flex{
  display:flex;
}
.text-white{
  color:white;
}
/* header section */
.header-section{
  background-color:rgb(36, 35, 35);
  color:rgba(255, 255, 255, 0.849);
  height:755px;
  width: 1440px;
}
.first-header-div{
  margin-left:30px;
  justify-content:space-between;
}
#video-tutorial-btn{
  position:absolute;
  left:1074px;
  top:556px;
  box-sizing:border-box;
  border:1px solid rgba(255,255,255,0.1);
  border-radius:6px solid;
  backdrop-filter:blur(20px);
  background:rgba(48,48,48,0.54);
  padding:2px 15px;
}
#three-fifty{
  color:white;
  font-size:20px;
  font-weight: 900px;
  line-height: 24px;
  text-align: left;
}
#video-tutorial{
  color:white;
  font-weight: 400px;
  font-size:10px;
}
#workout-video-btn{
  position: absolute;
  left:1290px;
  top:290px;
  box-sizing: border-box;
  border:1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);
  border-radius:6px solid;
  backdrop-filter:blur(20px);
  background:rgba(48,48,48,0.54);
  padding:5px 10px;
}
#five-hundred{
  color:white;
  font-size:32px;
  font-weight: 900px;
  text-align: left;
}
#workout-videos{
  color:white;
  font-weight: 400px;
  font-size:10px;
}
#join-club-btn{
  background-color:rgb(230,83,60);
  color:white;
  font-size:1rem;
  padding:10px 25px;
  border-radius:29px;
  margin-top: 10px;
  border-color:rgb(230,83,60);
  margin-left:25px;
  cursor:pointer;
  flex-direction: row;
}
#download-btn{               
  font-size:1rem;
  color:white;
  padding:10px 25px;
  border-radius:29px;
  text-decoration: none;
  margin-left:15px;
  margin-top: 10px;
  border:1px solid rgb(255,255,255);
  background:transparent;
  align-items:center;
  cursor:pointer;
  flex-direction: row;
}
.health-tip-para{
  font-size:.8rem;
  margin-top:5px;
  align-items: center;
  text-align:center;
  color:grey;
}
.shape{
  font-family: "Sevillana", cursive; ;
}
.health-tip-body-shape{
  font-size:5.5rem;
  text-align:center;
}
.navigation{
justify-content:space-between;
align-items:center;
}
.fitness-tag{
  color:rgb(230,83,60);
  font-size:2.5rem;
  margin-left:50px;
}
.nav-link{
  text-decoration:none;
}
.nav-item{
  list-style:none;
  margin-right:30px;
  padding:8px 20px;
  border-radius:29px;
}
#home-btn{
  background-color:rgb(230,83,60);
}
/* responsive layout create section */
/* header section responsive */
 @media screen and (max-width:576px){
  .navigation,.nav-link,.health-tip-body-shape,.health-tip-para,.first-header-div,.fitness-tag{
    flex-direction:column;
    justify-content:left;
    align-items: left;
    text-align: left;
  }
  .header-section{
    width:520px;
    height:1604px;
  }
  #video-tutorial-btn{
    left:30px;
    top:1150px;
    background:rgba(48,48,48,0.54);
    border-radius: 5px;
  }
  #workout-video-btn{
    left:290px;
    top:990px;
    background:rgba(48,48,48,0.54);
    border-radius:5px;
  }
  .nav-item{
    background-image:url(../images/hamicon.png);
    background-repeat: no-repeat;
    color:transparent;
    border:1px solid rgb(255,255,255);
  }
 }